POSTGRES_USER=ats_user
POSTGRES_PASSWORD=ats_password
POSTGRES_DB=ats_db

# MLflow tracking server endpoint
MLFLOW_TRACKING_URI=http://host.docker.internal:5000
# Optional if your MLflow server requires auth
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
